@import fonts
@import config
	
	
*
	box-sizing: border-box

body
	font-size: $fontsize

a
	text-decoration: none
	display: inline-block

ul,
li
	list-style-type: none

.container
	max-width: 1170px
	margin: 0 auto
	padding: 0 15px



.header
	&__top
		background-color: #303030
	&__btn
		position: relative
		float: right
		@include font(roboto, 400, 16px, 36px, 0)
		color: #1b1b1b
		background: $accent
		padding: 5px 20px 4px 50px
		&:before
			content: '\f0b1'
			position: absolute
			left: 22px
			font-family: 'icomoon'
			color: #1b1b1b
	&__contact
		@include clearfix
	&__phone,
	&__mail
		position: relative
		@include font(roboto, 400, 14px, 45px, 0.025em)
		color: #cbcacb
	&__phone
		padding:
			left: 20px
			right: 30px
		&:before
			content: '\f095'
			position: absolute
			left: 0
			font-family: 'icomoon'
			color: $accent
	&__mail
		padding: 
			left: 24px
		&:before
			content: '\f003'
			position: absolute
			left: 0
			font-family: 'icomoon'
			color: $accent

	&__content
		padding: 34px 0 24px
		&-inner
			display: flex
			justify-content: space-between
			

.menu
	li 
		display: inline-block
	a 
		@include font(roboto, 400, 16px, 36px, 0)
		color: #323232
		padding: 0 16px
		border: 1px solid transparent
		&:hover
			border-color: $accent
			transition: all 0.3s
	li + li 
		padding-left: 10px

#modal
	display: none
	

.slider
	position: relative
	background:
		image: url(../img/slider/slider-bg.jpg)
		repeat: no-repeat
		size: cover
		position: center
	min-height: 500px
	&__item
		max-width: 665px
		margin: 0 auto
		padding-top: 110px
		text-align: center
	&__title
		margin-bottom: 22px
		@include font(roboto, 500, 30px, 36px, 0.05em)
		color: #ffffff
	&__text
		@include font(ptserif, 400, 18px, 24px, 0)
		color: #d3d2d2
		margin-bottom: 50px
	&__inner
		position: relative

.default-btn
	position: relative
	display: inline-block
	padding:
		top: 8px
		right: 24px
		bottom: 8px
		left: 24px
	@include font(roboto, 500, 14px, 24px, 0.025em)
	color: #ffffff
	border: 1px solid $accent
	border-right-width: 22px
	z-index: 2
	outline: none
	&:after
		content: '\f105'
		position: absolute
		top: 50%
		transform: translateY(-50%)
		right: -14px
		font-family: 'icomoon'

.slick 
	&-btn
		position: absolute
		top: 70%
		width: 40px
		height: 40px
		border: 1px solid #fff
		z-index: 3
		background-color: $accent
		cursor: pointer
		outline: none
		&.slick-disabled
			cursor: default
			background-color: transparent
		&:before
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			font-family: 'icomoon'
			color: #ffffff
	&-next
		right: 0
		&:before
			content: '\f105'
	&-prev
		left: 0
		&:before
			content: '\f104'

.services
	padding: 60px 0 30px
	&__top
		display: flex
		justify-content: space-between
		margin-bottom: 60px
	&__title-box
		position: relative
		max-width: 520px
		padding-left: 140px
		&:before
			content: ''
			position: absolute
			top: 11px
			left: 0
			width: 100px
			height: 2px
			background-color: $accent
	&__title
		margin-bottom: 13px
		@include font(roboto, 500, 24px, 24px, 0)
		color: #212020
	&__text
		@include font(ptserif, 400, 14px, 18px, 0.01em)
		color: #5e5e5e
	&__btn a
		padding: 8px 40px
		@include font(roboto, 400, 14px, 24px, 0.025em)
		color: #373636
		border: 3px solid #e6e6e6
	&__items
		position: relative
		display: flex
		justify-content: space-between
	&__item
		position: relative
		max-width: 360px
		min-height: 363px
		padding: 26px 0 40px
		text-align: center
		background-color: #f9f9f9
		box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14)
		&-title
			padding: 26px 0
			@include font(roboto, 500, 18px, 24px, 0)
			color: #212020
		&-text
			padding: 0 30px 36px
			@include font(ptserif, 400, 14px, 18px, 0.01em)
			color: #5e5e5e
		&-btn
			position: absolute
			left: 0
			right: 0
			bottom: 40px
			.default-btn
				color: #373636
				&:after
					color: #ffffff
		&-link
			margin-right: 66px
			@include font(roboto, 400, 14px, 18px, 0)
			color: #050505
			border-bottom: 1px solid #050505

.about
	min-height: 300px
	padding: 40px 0 45px
	background:
		image: url(../img/bg/about-bg.jpg)
		size: cover
		position: center
		repeat: no-repeat
	&__inner
		max-width: 545px
	&__title
		margin-bottom: 35px
		@include font(roboto, 500, 24px, 24px, 0)
		color: #ffffff
	&__text
		margin-bottom: 28px
		@include font(ptserif, 400, 14px, 24px, 0.01em)
		color: #d3d2d2
	&__btn.default-btn
		&:after
			color: #000000

.form
	padding:
		top: 45px
	&__inner
		min-height: 460px
		padding:
			bottom: 40px
		background:
			image: url(../img/bg/form-bg.png)
			size: contain
			position: bottom right
			repeat: no-repeat
		button
			float: right
			background-color: transparent
			color: #282828
	&__title-box
		position: relative
		max-width: 520px
		padding-left: 140px
		&:before
			content: ''
			position: absolute
			top: 11px
			left: 0
			width: 100px
			height: 2px
			background-color: $accent
	&__title
		margin-bottom: 13px
		@include font(roboto, 500, 24px, 24px, 0)
		color: #212020
	&__text
		@include font(ptserif, 400, 14px, 18px, 0.01em)
		color: #5e5e5e
	&__box
		max-width: 850px
		padding:
			top: 36px
		&-inner
			display: flex
			justify-content: space-between
			label,
			input,
			textarea,
			select
				display: block
				width: 100%
			label
				@include font(roboto, 400, 14px, 36px, 0)
				color: #282828
			input
				margin:
					bottom: 8px
				height: 40px
				padding: 0 10px
				border: 1px solid #e3e6e6
				outline: none 
			select
				height: 40px
				padding:
					left: 18px
				border: 1px solid #e3e6e6
				outline: none 
			textarea
				margin: 
					bottom: 42px
				height: 208px
				padding: 10px
				border: 1px solid #e3e6e6
				outline: none
				resize: none
		&-left
			max-width: 260px
			width: 100%
		&-right
			max-width: 555px
			width: 100%


.form__box-inner
	.jq-selectbox.jqselect
		display: block
		width: 100%
	.jq-selectbox__select
		height: 40px
		padding-left: 18px
		border: 1px solid #e3e6e6
	.jq-selectbox__trigger-arrow
		&:before
			content: '\f105'
			position: absolute
			top: 0
			right: 18px
			transform: rotate(90deg)
			font-family: icomoon
	.jq-selectbox__dropdown 
		box-sizing: border-box
		width: 100%
		margin: 2px 0 0
		padding: 0
		border: 1px solid #e6e6e6
		background: #FFF
		box-shadow: 0 2px 10px rgba(0,0,0,.2)
	.jq-selectbox__dropdown ul
		padding: 0
	.jq-selectbox li 
		min-height: 18px
		padding: 5px 17px 6px
		color: #231F20
	.jq-selectbox li.selected 
		background-color: #A3ABB1
		color: #FFF
	.jq-selectbox li:hover 
		background-color: #08C
		color: #FFF
	.jq-selectbox li.disabled 
		color: #AAA
	.jq-selectbox li.disabled:hover 
		background: none
	.jq-selectbox li.optgroup 
		font-weight: bold
	.jq-selectbox li.optgroup:hover 
		background: none
		color: #231F20
		cursor: default
	.jq-selectbox li.option 
		padding-left: 25px



.advantages
	display: flex
	min-width: 285px
	padding: 55px 0 40px
	background:
		image: url(../img/bg/advantages-bg.jpg)
		size: cover
		position: center
		repeat: no-repeat
	&__inner
		display: flex
		justify-content: space-between
		text-align: center
		color: #ffffff
	&__item
		max-width: 360px
		padding: 0 20px
	&__title
		position: relative
		padding: 60px 0 15px
		@include font(roboto, 500, 18px, 24px, 0)
		&:before
			content: ''
			position: absolute
			top: 0
			left: 50%
			transform: translateX(-50%)
			width: 40px
			height: 40px
			border: 2px solid $accent
		&:after
			content: '\f00c'
			position: absolute
			top: 10px
			left: 50%
			transform: translateX(-50%)
			font-family: icomoon
	&__text
		@include font(ptserif, 400, 14px, 24px, 0.01em)
		color: #d3d2d2


.news
	padding: 55px 0 110px
	background-color: #f9f9f9
	&__top
		display: flex
		justify-content: space-between
		margin-bottom: 60px
	&__title-box
		position: relative
		max-width: 520px
		padding-left: 140px
		&:before
			content: ''
			position: absolute
			top: 11px
			left: 0
			width: 100px
			height: 2px
			background-color: $accent
	&__title
		margin-bottom: 13px
		@include font(roboto, 500, 24px, 24px, 0)
		color: #212020
	&__text
		@include font(ptserif, 400, 14px, 18px, 0.01em)
		color: #5e5e5e
	&__btn a
		padding: 8px 40px
		@include font(roboto, 400, 14px, 24px, 0.025em)
		color: #373636
		border: 3px solid #e6e6e6
	&__inner //inner
		display: flex
		justify-content: space-between
	&__slider
		position: relative
		max-width: 555px
		width: 100%
		padding:
			top: 64px
			right: 36px
			bottom: 48px
			left: 70px
		background-color: #fff
		box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13)
		&:before
			content: '\f10e'
			position: absolute
			top: 0
			left: 70pxl
			width: 64px
			height: 32px
			@include font(icomoon, 400, 16px, 18px, 0.05em)
			text-align: center
			line-height: 34px
			color: #fff
			background-color: $accent
		&-title
			@include font(roboto, 400, 18px, 24px, 0.05em)
			color: #242424
		&-text
			padding: 20px 0
			@include font(ptserif, 400, 14px, 18px, 0.01em)
			color: #5e5e5e
		&-author
				@include font(roboto, 400, 14px, 18px, 0.01em)
				color: #212020
	&__blog
		max-width: 260px
		width: 100%
		&-title
			padding: 12px 0
			@include font(roboto, 400, 16px, 18px, 0.05em)
			color: #242424
		&-text
			@include font(ptserif, 400, 14px, 18px, 0.01em)
			color: #5e5e5e
	&__images
		position: relative
	&__data
		position: absolute
		top: 0
		left: 10px
		width: 48px
		height: 54px
		padding:
			top: 30px
		@include font(ptserif, 500, 14px, 18px, 0)
		text-align: center
		color: #ffffff
		background-color: $accent

.news__slider-inner
	.slick-btn
		top: auto
		bottom: -110px
	.slick-next
		right: -35px
	.slick-prev
		left: auto
		right: 20px
	.slick-disabled
		border-color: #dadada
		&:before
			color: #dadada

.footer
	&__content
		padding: 30px 0 36px
		background-color: #595959
	&__inner
		display: flex
		justify-content: space-between
		.header__btn
			float: none
			display: inline-block
	&__map
		// max-width: 632px
		// height: 250px
		padding:
			top: 10px
		iframe
			// width: 100%
			// height: 100%
	&__info
		max-width: 360px
		width: 100%
		&-title
			@include font(roboto, 500, 16px, 36px, 0.05em)
			color: #ffffff
		&-text
			padding: 20px 0 30px
			@include font(roboto, 400, 14px, 18px, 0)
			color: #d3d2d2
		&-list
			padding: 10px 0 0
			li
				margin-top: 10px
			a
				position: relative
				padding-left: 36px
				@include font(roboto, 400, 16px, 36px, 0.025em)
				color: #ffffff
				&:before
					content: '\f003'
					position: absolute
					top: 8px
					left: 0
					@include font(icomoon, 400, 16px, 18px, 0.05em)
					color: $accent
	&__copy
		padding: 8px 0
		@include font(roboto, 400, 12px, 24px, 0.05em)
		text-align: center
		color: #ffffff
		background-color: #303030

a.footer__phone:before
	content: '\f095'
	left: 3px
a.footer__address:before
	content: '\f041'
	left: 3px

#modal input
	display: block
	width: 100%
	height: 40px
	margin-bottom: 8px
	padding: 0 10px
	@include font(roboto, 400, 14px, 36px, 0)
	border: 1px solid #e3e6e6
	outline: none 

#modal input[type="submit"]
	border: none
	background-color: $accent

