@import fonts
@import config
	
	
*
	box-sizing: border-box

body
	font-size: $fontsize

a
	text-decoration: none
	display: inline-block

ul,
li
	list-style-type: none

.container
	max-width: 1170px
	margin: 0 auto
	padding: 0 15px

.header
	&__top
		background-color: #303030
	&__btn
		position: relative
		float: right
		@include font(roboto, 400, 16px, 36px, 0)
		color: #1b1b1b
		background: $accent
		padding: 5px 20px 4px 50px
		&:before
			content: '\f0b1'
			position: absolute
			left: 22px
			font-family: 'icomoon'
			color: #1b1b1b
	&__contact
		@include clearfix
	&__phone,
	&__mail
		position: relative
		@include font(roboto, 400, 14px, 45px, 0.025em)
		color: #cbcacb
	&__phone
		padding:
			left: 20px
			right: 30px
		&:before
			content: '\f095'
			position: absolute
			left: 0
			font-family: 'icomoon'
			color: $accent
	&__mail
		padding: 
			left: 24px
		&:before
			content: '\f003'
			position: absolute
			left: 0
			font-family: 'icomoon'
			color: $accent

	&__content
		padding: 34px 0 24px
		&-inner
			display: flex
			justify-content: space-between
			

.menu
	li 
		display: inline-block
	a 
		@include font(roboto, 400, 16px, 36px, 0)
		color: #323232
		padding: 0 16px
		border: 1px solid transparent
		&:hover
			border-color: $accent
			transition: all 0.3s
	li + li 
		padding-left: 10px

#modal
	display: none
	

.slider
	background:
		image: url(../img/slider/slider-bg.jpg)
		repeat: no-repeat
		size: cover
		position: center
	min-height: 500px
	&__item
		max-width: 665px
		margin: 0 auto
		padding-top: 110px
		text-align: center
	&__title
		margin-bottom: 22px
		@include font(roboto, 500, 30px, 36px, 0.05em)
		color: #ffffff
	&__text
		@include font(ptserif, 400, 18px, 24px, 0)
		color: #d3d2d2


.test
	@include font(ptserif, 400, 18px, 24px, 0)